<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%magenta(%d{MM-dd HH:mm:ss.SSS}) | %clr(${LOG_LEVEL_PATTERN:-%5p}) | %blue(%-15.15thread) | %X{servlet-path:-} | %X{x-caller-name:-} | %X{x-trace-id:-} | %cyan(%logger{20}) | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="meetnow.api" level="debug"/>
  <logger name="org.hibernate.SQL" level="debug"/>
  <logger name="org.hibernate.orm.jdbc.bind" level="trace"/>
  <logger name="org.springframework.test.web.servlet.result" level="debug"/>

  <root level="INFO">
    <appender-ref ref="Console"/>
  </root>
</configuration>
